<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <script src="jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="jquery.dataTables.min.js"></script>
    <script src="angular-datatables.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="datatables.bootstrap.css">
</head>
<body ng-app="cursoApp" ng-controller="cursoController">
    <div class="container" ng-init="fetchDataCursos()">
        <br />
            <h3 align="center">Cursos</h3>
        <br />
        <div class="alert alert-success alert-dismissible" ng-show="success" >
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{successMessage}}
        </div>
        <div align="right">
            <button type="button" name="add_button" ng-click="addData()" class="btn btn-success">Add</button>
        </div>
        <br />
        <div class="table-responsive" style="overflow-x: unset;">
            <table datatable="ng" dt-options="vm.dtOptions" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Creditos</th>
                        <th>Horas semanales</th>
                        <th>Nivel</th>
                        <th>Ciclo</th>
                        <th>Codigo de carrera</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="curso in cursosData">
                        <td>{{curso.codigo}}</td>
                        <td>{{curso.nombre}}</td>
                        <td>{{curso.creditos}}</td>
                        <td>{{curso.horas_semanales}}</td>
                        <td>{{curso.nivel}}</td>
                        <td>{{curso.ciclo}}</td>
                        <td>{{curso.codigo_carrera}}</td>
                        <td><button type="button" ng-click="fetchSingleData(curso.codigo)" class="btn btn-warning btn-xs">Edit</button></td>
                        <td><button type="button" ng-click="deleteData(curso.codigo)" class="btn btn-danger btn-xs">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>
<div class="modal fade" tabindex="-1" role="dialog" id="cursomodal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form method="post" ng-submit="submitForm()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{modalTitle}}</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger alert-dismissible" ng-show="error">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						{{errorMessage}}
					</div>
					<div class="form-group">
						<label>Ingrese codigo</label>
						<input type="text" name="codigo" ng-model="codigo" class="form-control" />
					</div>
					<div class="form-group">
						<label>Ingrese nombre</label>
						<input type="text" name="nombre" ng-model="nombre" class="form-control" />
                    </div>
                    <div class="form-group">
						<label>Ingrese Creditos</label>
						<input type="text" name="creditos" ng-model="creditos" class="form-control" />
                    </div>
                    <div class="form-group">
						<label>Ingrese Horas Semanales</label>
						<input type="text" name="horas_semanales" ng-model="horas_semanales" class="form-control" />
                    </div>
                    <div class="form-group">
						<label>Ingrese Nivel</label>
						<input type="text" name="nivel" ng-model="nivel" class="form-control" />
                    </div>
                    <div class="form-group">
						<label>Ingrese Ciclo</label>
						<input type="text" name="ciclo" ng-model="ciclo" class="form-control" />
                    </div>
                    <div class="form-group">
						<label>Ingrese Codigo de la carrera</label>
						<input type="text" name="codigo_carrera" ng-model="codigo_carrera" class="form-control" />
					</div>
				</div>
				<div class="modal-footer">
					<input type="hidden" name="hidden_id" value="{{hidden_id}}" />
					<input type="submit" name="submit" id="submit" class="btn btn-info" value="{{submit_button}}" />
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
     var app = angular.module('cursoApp', ['datatables']);
    app.controller('cursoController', function($scope, $http){
        $scope.success = false;

	$scope.error = false;
    $scope.fetchDataCursos = function(){
		$http.get('fetch_dataCursos.php').success(function(data){
			$scope.cursosData = data;
		});
	};
    $scope.openModal = function () {
			var modal_popup = angular.element('#cursomodal');
			modal_popup.modal('show');

		};
        $scope.closeModal = function () {
			var modal_popup = angular.element('#cursomodal');
			modal_popup.modal('hide');
		};
        $scope.addData = function () {
			$scope.modalTitle = 'Agregar Curso';
			$scope.submit_button = 'Insertar';
			$scope.openModal();
		};
        $scope.submitForm = function () {
			$http({
				method: "POST",
				url: "insertCur.php",
				data: { 'codigo': $scope.codigo, 'nombre': $scope.nombre, 'creditos': $scope.creditos, 'horas_semanales': $scope.horas_semanales, 'nivel': $scope.nivel, 'ciclo': $scope.ciclo, 'codigo_carrera': $scope.codigo_carrera, 'action': $scope.submit_button, 'id': $scope.hidden_id }
			}).success(function (data) {
				if (data.error != '') {
					$scope.success = false;
					$scope.error = true;
					$scope.errorMessage = data.error
				}
				else {
					$scope.success = true;
					$scope.error = false;
					$scope.successMessage = data.message;
					$scope.form_data = {};
					$scope.closeModal();
					scope.fetchData();

				}

			});
		};
        $scope.fetchSingleData = function (codigo) {
			$http({
				method: "POST",
				url: "insertCur.php",
				data: { 'codigo': codigo, 'action': 'fetch_single_data' }
			}).success(function (data) {
				$scope.codigo = data.codigo;
				$scope.nombre = data.nombre;
                $scope.creditos = data.creditos;
                $scope.horas_semanales = data.horas_semanales;
                $scope.nivel = data.nivel;
                $scope.ciclo = data.ciclo;
                $scope.codigo_carrera = data.codigo_carrera;
				$scope.hidden_id = codigo;
				$scope.modalTitle = 'Editar Curso';
				$scope.submit_button = 'Editar';
				$scope.openModal();

			});
        }
        $scope.deleteData=function(codigo){
			if(confirm("Are you want to remove it?")){
				$http({
				method: "POST",
				url: "insertCur.php",
				data: { 'codigo': codigo, 'action': 'Delete' }
				}).success(function(data){
					$scope.success=true;
					$scope.error =false;
					$scope.successMessage=data.successMessage;
					$scope.fetchData();

				});
			}


		};
    });
</script>